footer {
  background-color: $lime;
  padding: 1rem 0 3rem;
  color: $forest;
  text-align: center;
  font-size: 16px;

  div {
    margin-top: 2rem;
  }
}

footer p {
  font-size: 16px;
}
.speria-small {
  position: relative;
  top: 14px;
  left: 10px;
}
