footer {
  background-color: $dark;
  height: 90px;
  color: $lime;
  text-align: center;
  font-size: 16px;
}

footer p {
  font-size: 16px;
}
.speria-small {
  position: relative;
  top: 14px;
  left: 10px;
}
