.speria-logo {
  width: 36px;
  margin: 1.5rem;
  position: absolute;
}

a.langlink {
  color: $lime;
  font-size: 18px !important;
  margin-right: 8px;
  &:hover {
    text-decoration: none !important;
  }
}

.langlink a.active-link {
  text-decoration: none;
  color: $dark !important;
  font-weight: 600;
  font-size: 18px !important;
  background: $lime;
  padding: 8px 16px;
  border-radius: 6px;
  border-bottom: none;
}

.top-nav {
  position: relative;
  height: 100px;
  background: $dark;
  a {
    color: $lime;
  }
}

/* Menu mobile */
a {
  text-decoration: none;
  color: $dark;
  transition: color 0.3s ease;
}

#navi-mob {
  display: none;
}

#navi-mob i {
  position: absolute;
  right: 22px;
  top: 32px;
  font-size: 38px;
}

#navi-mob i.active {
  color: $light;
}

#menu {
  display: none;
  position: absolute;
  background: $beige;
  color: $dark;
  width: 100%;
  height: 100vh;
  right: -200px;
  padding: 1em;
  opacity: 0;
}

#menu li {
  padding: 16px 0;
  font-size: 36px;
  white-space: nowrap;
}

@media (max-width: 992px) {
  #navi {
    display: none;
  }

  #navi-mob {
    display: initial;
  }

  .top-nav a {
    color: $dark;
  }
}
