.p-t {
  padding-top: 1.5rem;
}

.p-b {
  padding-bottom: 1.5rem;
}

.m-t {
  margin-top: 1.5rem;
}

.m-b {
  margin-bottom: 1.5rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.dark-background {
  background-color: $dark;
}

.forest-background {
  background-color: $forest;
}

.hunt-background {
  background-color: $hunt;
  h3,
  span,
  p,
  a {
    color: $light;
  }
}

.beige-background {
  background-color: $beige;
}

.light-background {
  background-color: $light;
}

.lime-background {
  background-color: $lime;
  h3,
  span,
  p,
  a {
    color: $forest;
  }
}
