.m-t-24 {
  margin-top: 1.5rem;
}

.m-b-24 {
  margin-bottom: 1.5rem;
}

.full-width {
  max-width: 100%;
}

.inner-width {
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem;
}

.inner-width-wide {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0;
}

.inner-width.fade {
  max-width: 860px;
  margin: 0 auto;
  padding-top: 0;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.dark-background {
  background-color: $dark;
}

.forest-background {
  background-color: $forest;
}

.hunt-background {
  background-color: $hunt;
  h3,
  span,
  p,
  a {
    color: $light;
  }
}

.beige-background {
  background-color: $beige;
}

.light-background {
  background-color: $light;
}

.lime-background {
  background-color: $lime;
  h3,
  span,
  p,
  a {
    color: $forest;
  }
}
