.how-i-work {
  h4 {
    font-size: 34px;
    margin-left: 5rem;
  }
  h3 {
    margin: 3rem 0;
    font-size: 24px;
    @media (max-width: 768px) {
      margin: 2rem 0 3rem;
    }
  }
  .text p {
    padding-left: 5rem;
    margin: 2rem 0;
    font-style: italic;
    @media (max-width: 768px) {
      padding-left: 3rem;
    }
  }
}

.how-i-work ol {
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;
}

.how-i-work ol:before {
  content: '';
  display: block;
  height: calc(65% - 8px);
  width: 3px;
  background: $dark;
  position: absolute;
  left: 23px;
  top: -8px;
}

.how-i-work li.text {
  flex-grow: 1;
}

.how-i-work li s span:last-child {
  border-bottom: none;
}

.how-i-work .first:before {
  // content: counter(list-item);
  content: url('/img/planlegging.svg');
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  background: $neon;
  border-radius: 50%;
  box-shadow: 0 0 0 16px $neon;
}

.how-i-work .second:before {
  // content: counter(list-item);
  content: url('/img/design.svg');
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  background: $neon;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 0 16px $neon;
}

.how-i-work .third:before {
  // content: counter(list-item);
  content: url('/img/utvikle.svg');
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  background: $neon;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 0 16px $neon;
}

.how-i-work.inner-width-wide {
  padding: 2rem !important;
}
