*, html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*Kube reset*/
.tabs a:hover {
  text-transform: none;
  text-decoration: none;
  background-color: transparent;
  font-weight: bold;
  color: #AF3F4F;
}

.tabs li em, .tabs li.active {
  border-bottom: none;
}

.tabs li em, .tabs li.active a{
  border: none;
  color: #AF3F4F;
  cursor: pointer;
}

.tabs a{
  color: #425564;
  font-size: 18px;
}

.tabs{
  padding-top: 5px;
  font-size: 16px;
  color: #425564;
  letter-spacing: 1px;
}

.tabs ul{
  border-bottom: none;
  float: right;
  margin-top: 1rem;
}

button:hover,.button:hover {
  background-color: #AF3F4F;
}

.button{
  font-family: 'Raleway', sans-serif;
}

.message.error{
 font-family: 'Raleway', sans-serif;
 font-size: 1em;
 opacity: 0;
}

/*Main styles*/
html, body {
   margin: 0;
   overflow-x: hidden;
   padding: 0;
}

*,
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  color: #333331;
}

.full-width {
  max-width: 100%;
}

.inner-width{
  max-width: 1096px;
  margin: 0 auto;
  padding-top: 3em;
}

a:focus {
  border: 1px solid #AF3F4F;
  box-sizing: border-box;
}

@media only screen and (max-width: 1180px) {
  .inner-width {
    margin-left: 2em;
    margin-right: 2em;
  }
}

.inner-width.fade {
  max-width: 860px;
  margin: 0 auto;
  padding-top: 3em;
}

@media only screen and (max-width: 650px) {
  h2 {
    font-size: 28px;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #AF3F4F;
  margin-top: 1.618em;
}

.top {
  position: relative;
  height: 106px;
}

.speria-logo {
  width: 190px;
  margin: 0 0.618rem;
  position: absolute;
  left: 0;
  top: 6px;
  width: 301;
  height: 135;
}

@media only screen and (max-width: 650px) {
  .speria-logo {
    max-width: 200px;
  }
}

.lang-switch {
  text-align: right;
  margin:0 2em 0 2rem;
  padding-top: 1rem;
  color: #fdfdfd;
}

.lang-switch a{
  color: #425564;
  font-size: 14px;
}

.lang-switch a.active-lang {
  text-decoration: underline;
  color: #AF3F4F;
}

.lang-switch span{
  color: #425564;
}

.about-us-intro a {
  color: #AF3F4F;
  text-decoration: underline;
  font-weight: 600;
  line-height: 18px;
}

.head-image {
  height: 550px;
  text-align: center;
  background-image: url(/images/susph_image_web.jpg);
  background-size: cover;
  background-position: center center;
  background-image:
    -webkit-image-set(url("/images/susph_image_web.jpg") 1x, url("/images/susph_image_web@2x.jpg") 2x);
}

.head-image-speria {
  padding-top: 10rem;
}

@media only screen and (max-width: 550px) {
  .head-image  {
    height: 300px;
  }
}

.head-image h1 {
  font-family: 'Monoton', sans-serif;
  padding-top: 2.2em;
  font-size: 98px;
  letter-spacing: 8px;
  color: #fdfdfd;
}

@media only screen and (max-width: 1190px) {
  .head-image h1  {
    font-size: 78px;
    line-height: 1.2em;
  }
}

@media only screen and (max-width: 550px) {
  .head-image h1  {
    padding-top: 1.8em;
    font-size: 42px;
    line-height: 1em;
  }
}

.head-image blockquote {
  padding-top: 1em;
  color: #fdfdfd;
  font-size: 22px;
  font-weight: bold;
}

@media only screen and (max-width: 550px) {
  .head-image blockquote {
    font-size: 15px;
    color: #000;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    padding-top: 0;
  }
}

.header-om-oss, .header-design, .header-seo, .header-hosting{
  height: 500px;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  text-align: center;
}


@media only screen and (max-width: 550px) {
  .header-om-oss, .header-design, .header-seo, .header-hosting {
    height: 300px;
  }
}
.header-om-oss {
  background-image: url(/images/om_oss_web@2x.jpg);
  background-image:
    -webkit-image-set(url("/images/om_oss_web.jpg") 1x, url("/images/om_oss_web@2x.jpg") 2x);
}

.header-design {
  background-image: url(/images/design_web@2x.jpg);
  background-image:
    -webkit-image-set(url("/images/design_web.jpg") 1x, url("/images/design_web@2x.jpg") 2x);
}

.header-seo {
  background-image: url(/images/seo_image_web@2x.jpg);
  background-image:
    -webkit-image-set(url("/images/seo_image_web.jpg") 1x, url("/images/seo_image_web@2x.jpg") 2x);
}

.header-hosting {
  background-image: url(/images/hosting_web@2x.jpg);
  background-image:
    -webkit-image-set(url("/images/hosting_web.jpg") 1x, url("/images/hosting_web@2x.jpg") 2x);
}

.header-design h1, .header-seo h1, .header-hosting h1, .header-om-oss h1{
  padding-top: 2.8em;
  color: #fff;
  line-height: 1.218em;
  font-size: 56px;
  text-shadow: 0 3px 2px rgba(0, 0, 0, .5);
  font-weight: 600;
}

@media only screen and (max-width: 770px) {
  .header-design h1, .header-seo h1, .header-hosting h1, .header-om-oss h1 {
    padding-top: 3em;
    font-size: 48px;
  }
}

@media only screen and (max-width: 560px) {
  .header-design h1, .header-seo h1, .header-hosting h1, .header-om-oss h1 {
    padding-top: 4em;
    font-size: 26px;
  }

  .new-line {
    display: block;
  }

  .header-seo h1{
    padding-top: 3.2em;
    font-size: 26px;
  }
}

.header-design h2, .header-seo h2, .header-hosting h2, .header-om-oss h2{
  letter-spacing: 2px;
  color: #fdfdfd;
  font-size: 28px;
  text-shadow: 0 3px 2px rgba(0, 0, 0, .5);
  font-weight: 400;
}

@media only screen and (max-width: 560px) {
  .header-design h2, .header-seo h2, .header-hosting h2, .header-om-oss h2{
    font-size: 16px;
    line-height: 1.3em;
  }
}

.intro-design-utvikling h2, .intro-seo h2, .intro-hosting h2, .intro-om-oss h2{
  font-size: 42px;
  text-align: center;
  color: #425564;
  padding-bottom: 1.618em;
  font-weight: 200;
}

@media only screen and (max-width: 560px) {
  .intro-design-utvikling h2, .intro-seo h2, .intro-hosting h2, .intro-om-oss h2{
    font-size: 25px;
    padding-bottom: 0;
  }
}

.intro-design-utvikling h3, .intro-hosting h3, .intro-seo h3, .intro-om-oss h3{
  letter-spacing: 2px;
  font-size: 22px;
  margin-top: 2em;
  font-weight: 300;
  color: #425564;
}

@media only screen and (max-width: 560px) {
  .intro-design-utvikling h3, .intro-hosting h3, .intro-seo h3, .intro-om-oss h3{
    font-size: 18px;
  }
}

.button.small{
  text-decoration: none;
  color :#AF3F4F;
  background-color: #fff;
  border: 2px solid #AF3F4F;
  margin-bottom: 2em;
  font-size: 18px;
  line-height: 1.5em;
  text-align: center;
  font-weight: 300;
}

@media only screen and (max-width: 550px) {
  .button.small{
    font-size: 16px;
  }
}

.intro-om-oss span{
  color: #AF3F4F;
  font-size: 40px;
}

.intro-om-oss a{
  color: #0091ea;
}

h2{
  color: #425564;
  font-size: 36px;
  font-weight: 400;
}

@media only screen and (max-width: 650px) {
  h2 {
    font-size: 28px;
  }
}

h3{
  color: #425564;
  font-size: 20px;
  font-weight: 400;
}

.border-row{
  border-bottom: 1px solid #eee;
  max-width:100%;
  padding-bottom: 3.236em;
  margin:0;
}

.space-between{
  text-align: center;
}

.img-circle {
  margin-left: .5em;
  margin-bottom:1.618em;
  width: 80px;
  height: 80px;
  position: relative;
  top: 2em;
  right: 0.2em;
}

.circle {
  border: 1px solid #cdcdcd;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #eaf2f8;
  margin-bottom: 1em;
  display: inline-block;
}

.vertical-line {
  border-right: 2px solid #efefef;
}

.paragraph p, .ta-kontakt{
  font-size: 15px;
  padding-right: 10px;
}

.ta-kontakt span a{
  font-size: 22px;
}

.ta-kontakt p a{
  text-decoration: underline;
  font-weight: 600;
  color: #AF3F4F;
  letter-spacing: .8px;
}

.ta-kontakt p:nth-last-child(-n+3) {
  font-size: 16px;
}

.paragraph a{
  color: #AF3F4F;
  text-decoration: underline;
  font-weight: 600;
  line-height: 18px;
}

.paragraph a:hover{
  font-size: 18px;
}

.about-us a:hover{
  font-size: 18px;
 }

.title-space{
  padding-bottom: 1.618em;
}

.w100,.button-style{
  font-family: 'Raleway', sans-serif;
  background-color: #425564;
  border: 1px solid #aaa;
  font-weight: 600;
}

.dark-background{
  background-color: #fdfdfd;
}

.light-background{
  background-color: #fff;
}

/*Image slider*/
figure {
  position: relative;
}

/* Slideshow container */
.slideshow-container {
  max-width: 660px;
  position: relative;
  margin-left: 8em;
}

@media only screen and (max-width: 850px) {
  .slideshow-container {
    margin-left: 1em;
    margin-right: 1em;
  }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #333331;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */

.mySlides {
  position: relative;
  border: 1px solid #ddd;
  height: 578px;
}

@media only screen and (max-width: 550px) {
  .mySlides {
    height: 100%;
  }
}

.mySlides a{
  text-decoration: none;
}

.mySlides a:hover{
  color: #fff;
  text-decoration: underline;
}

.text-slider {
  display: none;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: #333;
  opacity: 0.9;
}

.text-slider h4 {
  position: relative;
  top: 40%;
  color: white;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 200;
  white-space: nowrap;
}

@media only screen and (max-width: 550px) {
  .text-slider h4 {
    font-size: 14px ;
    white-space: normal;
    width: 80%;
    margin: 0 auto;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.8s;
  animation-name: fade;
  animation-duration: 1.8s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/* to top arrow*/
.go-top{
  float:right;
  margin-top: -40px;
  margin-right: 5em;
}

.go-top img{
  text-decoration: none;
  background-color: #fdfdfd;
  border: 1px solid #eee;
  border-bottom: 0;
  padding: .5em .7em;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 100
}

.go-top img:hover {
  border: 1px solid pink;
  border-bottom: 0;
}
/* Footer*/
footer{
  height: 5em;
  background-color:#eaf2f8;
  height: 90px;
  color: #425564;
  font-size: 13px;
  padding-top: 40px;
  padding-left: 10px;
  text-align: center;
  border-top: 1px dotted #eee;
}

/* Menu mobile */
a {
  text-decoration: none;
  color: #333331;
  transition: color 0.3s ease;
}

a:hover {
  color: #AF3F4F;
}

#navi-mob {
  display: none;
}

#navi-mob i {
  position: absolute;
  right: 22px;
  top: 90px;
  font-size: 22pt;
}

#navi-mob i.active {
  color: #425564;
}

#menu{
  display: none;
  position: absolute;
  background: #fff;
  width: 200px;
  top: 120px;
  right: -200px;
  padding: 1em;
  opacity: 0;
}

#menu li {
  padding: 10px 0;
  font-size: 12pt;
  white-space: nowrap;
}

@media only screen and (max-width: 850px) {
  #navi{
    display: none;
  }

  #navi-mob {
    display: initial;
  }
}

.error-message{
  font-size: 11pt;
  color: #AF3F4F;
}

.bekreftelse {
  padding-top: 5em;
  min-height: 500px;
  text-align:center;
}

.bekreftelse h1{
  color: #425564;
  font-size: 45px;
}
